<header class="nav_link_header" style="background:#b9c;">
  <a href="landing.html.erb"> To landing </a> |
  <a href="clickable_pics.html.erb"> To clickable pics </a> |
  <a href="mwo.html.erb"> To MWO example</a> |
  <a href="ren1.html.erb">To PRACTICE</a> |
</header>
