<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Resume Landing</title>
  <link rel="stylesheet" type="text/css" href="../css/ren1.css" media="screen" />
</head>

<body class="landing_page_body">
  <div id="landing_header">
    <h1> Landing test title 1 </h1>
  </div>

      <header class="nav_link_header" style="background:#b9c;">
        <a href="landing.html.erb"> To landing </a> |
        <a href="clickable_pics.html.erb"> To clickable pics </a> |
        <a href="mwo.html.erb"> To MWO example</a> |
        <a href="ren1.html.erb">To PRACTICE</a> |
      </header>

  <div class="paragraphs">
    <p> Filler content lorem ipsum </p>
    <p class="para1"> This paragraph area is custom designed with set height and
    width properties, floated left</p>
    <div class=inner_paragraph>
    <p> I got your attention with </p>
    <p> this bright circle </p>
    </div>
  </div>

<h2> "dynamic link elements:"</h2>

  <div class="btn_set1">
    <a class="btn_type1" href="#pic_header">To Picture</a>
    <a class="btn_type1" href="#table_example1">To Table</a>
    <a id="spooky_btn"
    onclick="alert('scary skeletons')">spooky</a>
    <a id="blank_btn"
    onclick="alert('href links automatically change to a cursor:pointer, but for on-click I had to add the cursor:crosshair property in the CSS')">
    blank</a>
  </div>

<h2> "Worm type navbar:"</h2>

  <div class="btn_set2">
    <a class="btn_type2" href="#pic_header">To Picture</a>
    <a class="btn_type2" href="#table_example1">To Table</a>
    <a class="btn_type2" href="#pic_header">To Picture</a>
    <a class="btn_type2" href="#table_example1">To Table</a>
  </div>

  <div id="pic_header">
    <p id="pic_h_textline">My lovely daily walk back in Japan</p>
  </div>
  <img src="../../assets/images/sample1/fall_sidewalk1.jpg"
  alt="fall sidewalk" id="fall_sidewalk1"> </img>

  <br>
  <div class="listed_colors">
    <ul style="list-style-type:square;">
      <li id="li_ex1">Example sentence 1</li>
      <li id="li_ex2">Example unique text 2</li>
      <li id="li_ex3">Example original example 3</li>
      <li id="li_ex4">Example fourth for number 4</li>
      <li id="li_ex5">Example going for 5 num 5</li>
      <li id="li_ex6">Example test now makes for 6</li>
      <li id="li_ex7">Example the seventh at 7</li>
    </ul>
  </div>


  <div id="table_example1">
    <table>
    <!-- good tables have a header and title caption-->
      <thead>
        <caption id="table_title">This is the caption</caption>
        <tr>
          <th>header1</th>
          <th>header2</th>
          <th>header3</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>data1</td>
          <td colspan="2">taking up 2 columns here</td>
        </tr>
        <tr>
          <td>bravo1</td>
          <td>bravo2</td>
          <td>bravo3</td>
        </tr>
        <tr>
          <td>charlie1</td>
          <td>charlie2</td>
          <td>charlie3</td>
        </tr>
      </tbody>
    </table>
  </div>
<!-- -->
</body>
