<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ren 1</title>
  <link rel="stylesheet" type="text/css" href="../css/img_manip.css" media="screen" />
</head>

<body style="background-color:aliceblue;">
  <h1>test 1</h1>

  <div class="gallery">
      <img src="../assets/images/sample1/~~~"
      class="gal_item" alt="dance"><img>

    <img src="" alt=""><img>
  </div>


  <video class="vid_content" src="../assets/images/placeholder.MP4"
  autoplay loop controls
  poster="../assets/images/pleases_nut.jpg"
  height="250"></video>

</body>
