<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ren 1</title>
  <link rel="stylesheet" type="text/css" href="../css/ren1.css" media="screen" />
  <script src="../js/pract1.js"></script>
</head>

<body class="overall_page_body">
  <div class="title_banner">
    <h1> Welcome to JK Summerlin's JS portfolio :)</h1>
    <h4> My favorite color is wine red; I love wine and cheese! </h4>
  </div>

<br>
  <header class="nav_link_header">
    <a href="landing.html.erb"> To landing </a> |
    <a href="clickable_pics.html.erb"> To clickable pics </a> |
    <a href="mwo.html.erb"> To MWO example</a> |
    <a href="ren1.html.erb">To PRACTICE</a> |
    <a href="ren2.html.erb">To V2 practice</a> |
  </header>
<br>

  <div class="tool_navbar2">
    <h4>Web Dev Tool-Belt </h4>
      <div class="tool_belt_set">
        <a class="tool_belt_link" href="https://htmlcheatsheet.com/css/"
        target="_blank">
          CSS cheat sheet</a> |
        <a class="tool_belt_link" href="https://coolors.co/app" target="_blank">
          Color generator</a> |
        <a class="tool_belt_link"
        href="https://www.w3schools.com/js/default.asp" target="_blank">
        W3Schools ref</a> |
        <a class="tool_belt_link"
        href="https://fonts.google.com" target="_blank">
        Google's fonts</a> |
        <a class="tool_belt_link"
        href="https://www.w3schools.com/cssref/pr_class_cursor.asp"
        target="_blank"> Cursor properties </a> |
        <a class="tool_belt_link" href="https://www.pexels.com/"
        target="_blank"> Stock images </a>
      </div>
  </div>
<br>

<div class="trip_menu_header">
  <img id="kendo_helmet" src="../../assets/images/kan/shell_helmet.png" alt="armor midriff"
  height="200px">
    <div class="element_ordo">
      <div id="top_stripe" class="block1">font in "Lucidia Console", monospace
      </div>
      <h1 id="mid_stripe" class="block1">mustard:f7c547, Jindigo:2b3d41,
        metalsea:1c638c </h1>
      <p id="bottom_stripe" class="block1">Scheme colors changed for readability</p>
    </div>
  <div class="emo_item_set">
    <p class="emo_item">happy</p>
    <p class="emo_item">sad</p>
    <p class="emo_item">shocked</p>
    <p class="emo_item">angry</p>
  </div>
</div>

<div class="caution_line_collection">
  <div style="padding:15px;">
    <div class="kanji_clicker">
      <div class="kan_list">
          <img class="kan_item" id="moto1"
          src="../../assets/images/kan/begin_kan.png" alt="moto"
          onclick="translate_moto1()"
          ></img>
          <p id="kan_answer_concealer">^click to reveal^</p>
          <p id="kan_ex1"></p>
          <p id="kan_vis_explained"></p>
      </div>
        <div class="kan_list">
            <img class="kan_item" id="moto1"
            src="../../assets/images/kan/begin_kan.png" alt="moto"
            onclick="visualize_moto1()"
            ></img>
            <p>^click^</p>
              <dl>
                <dt>Eng. Meaning</dt>
                <dd>Reading 1</dd>
                <dd>Reading 2</dd>
                <dd>example</dd>
              </dl>
        </div>
      <img id="vis_img"
      src="../../assets/images/pleases_nut.jpg" alt="image visualized here">
      <p id="kan_story"> - lorem ipsum dolor set</p>
    </div>
  </div>
</div>

<br>
  <div class="dropup">
    <button class="dropbtn" style="position:relative; display:inline-block;">
    Drop "up" selection
    </button>
    <div class="dropup-content">
      <a href="#">Jump to top of page</a>
      <a href="../../assets/images/pleases_nut.jpg" target="_blank">Deez Nuts (new window)</a>
      <a href="">placeholders 1</a>
      <a href="">placeholders 2</a>
      <a href="">placeholders 3</a>
      <a href="">placeholders 4</a>
      <a href="">(staggered thru margins)</a>
    </div>
  </div>
<hr>
<div class="caution_line_collection">
  <div class="greying_buffer">
    <div class="hint_button">
      <p>What do these
        <span style="color:#afa;font-size:20px;text-decoration:underline;"
        onclick="alert('[c]olor[num] [b]ackground[num]')">
        codes
        </span>
        mean?
        <br>
        click the odd word above for a hint.
      </p>
    </div>
  </div>
</div>
<br>
<div class="nest1">
  <div class="nest2">
    <div class="nest3">
      <div class="nest4">
        <div class="nest5">
          <p id="nest_line1">cff7b113</p>
        </div>
        <p id="nest_line2">c567bff7</p>
      </div>
      <p id="nest_line3">c233beac</p>
    </div>
    <p id="nest_line4">ceacb233</p>
  </div>
  <p id="nest_line5">c233b9ab</p>
</div>

<div class="b_nest1">
  <div class="b_nest2">
    <div class="b_nest3">
      <div class="b_nest4">
        <div class="b_nest5">
          <p id="b_nest_line1">cee5<br>b725</p>
        </div>
        <p id="b_nest_line2">cadfb135</p>
      </div>
      <p id="b_nest_line3">c7eab112</p>
    </div>
    <p id="b_nest_line4">ce5bb404</p>
  </div>
  <p id="b_nest_line5">c112badf</p>
</div>
<br>
<div class="caution_line_collection">
  <div class="greying_buffer">
    <div class="ul_practice_element">
      <h2> Here's a placeholder for an unordered list</h2>
        <ul>
          <li> one </li>
          <li> two </li>
          <li> three </li>
          <li> four </li>
        </ul>
    </div>
  </div>
</div>
<br>
<div class="banner_pract_drop">
  <p>Mech dropdown list, items can get event listners</p>
  <div class="dropdown_select">
    <!-- Quest: Make a pic area to the side that
  changes when you make a different selection -->
    <select name="mech_dropdown" id="mech_dropdown">
      <option value="KCR" onclick="alert('Snip-snip!')">King Crab</option>
      <option value="PRH" onclick="alert('Late-game pew-pew!')">Pirannah</option>
      <option value="HBK">Hunchback</option>
      <option value="QKD">Quickdraw</option>
      <option value="LCS">Locust</option>
    </select>
  </div>
</div>

<div class="js_play1">
  <button type="button"
  onclick="display_time()">
  Click me to display Date and Time.</button>
  <p id="disp">(Script will be displayed here)</p>
<hr>
  <p id="text1">Change text with buttons.</p>

  <button type="button" onclick='text_change()'>Click to change text!</button>
</div>
<br>

<div class="text_try">
  <p>
    Feelin' <sup>high</sup> or are ya <sub> low</sub>?
  <p>
    <br>
      <hr>
    <br>
    <h5 class="quest"> Q: How do I refactor this HTML wave with embedded ruby?</h5>
  <p>
    <sub>Ride</sub> the <sup>wave</sup> all <sub>the</sub> way <sup> to </sup>
    <sub>another</sub> beautiful <sup>day</sup> today ~
    <sub>~</sub>~<sup>~</sup>~<sub>~</sub>~<sup>~</sup>~<sub>~</sub>~<sup>~</sup>
    ~<sub>~</sub>~
  </p>
    <br>
      <hr>
    <br>
  <p>
    <big>Big</big> and <small>small</small> welcome one and all!
  </p>
</div>
<hr>

<!-- image and vid practice-->
<div>
  <!--
  <iframe width="560" height="315"
  src="https://www.youtube.com/embed/nn7LeY3S72E" frameborder="0"
  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen></iframe> -->

  <img class="" src="../../assets/images/sample1/forest_1.jpg"
  alt="a forest picture" height="200px"></img>
</div>

<!-- all names need to match with radio buttons
so only 1 can be chosen-->
<div class="radio_pract">
  <h2>/// Form input practice ///</h2>
  <p>How many donughts do you eat on national donught day?</p>
    <input type="radio" name="group1" value="item1">
      1
    </input>
    <input type="radio" name="group1" value="item2">
      2
    </input>
    <input type="radio" name="group1" value="item3">
      3
    </input>
    <input type="radio" name="group1" value="item4">
      What? There's a national donught day?
    </input>
  </div>
<br>
<input type="submit" name="group1" value="Vote!"></input>
<hr>
  <form class="" action="index.html" method="post">
    <div style="background-color:aliceblue; text-align:center;
    width:60%; margin:auto; padding: 10px 40px;">
      <h3 style="margin:auto; padding:10px">
        Which dishes can you make?</h3>
      <!-- value is for data purposes, the text after input shows up-->
      <div class="dish_selections">
        <input type="checkbox" name="cooking_dishes" value="scrambled_eggs">
        I can make some scrambly
        <input type="checkbox" name="cooking_dishes" value="spaghetti_and_meatballs">
        I make-a the speghetti
        <br>
        <input type="checkbox" name="cooking_dishes" value="Lobster_Bisque">
        Lobster Bisque, monsieur
        <input type="checkbox" checked="checked" name="cooking_dishes" value="dunno">
        I don't know how to cook
        <input type="submit" name="cooking_dishes" value="That's my specialty">
      <!-- close dish selections-->
      </div>
    <!-- close entire survey block, incluing title and BG-->
    </div>
  </form>

<hr>

  <!-- input and text area practice -->

<div class="form_practice">
  <form action="" method="">
    <label for="username_input">Username:</label>
    <br>
    <input type="text" name="username_input" id="username_input">
    <br>
    <label for="password_input">Password:</label>
    <br>
    <input type="password" name="password_input" id="password_input"
    placeholder="hidden password">
    <br>
    <label for="email_input">Email:</label>
    <br>
    <input type="email" name="email_input" value="potato@starch.com">
    <hr>
    <p>Example comment submission forum:</p>
      <textarea name="comment_form" id="comment_form" cols="20" rows="4">
Default text to occupy the text area
      </textarea>
      <br>
    <input type="submit" value="make a comment!">
  </form>
</div>

<div class="lorem1">
  <p class="sent1">
    <span style="text-decoration:line-through;">I changed my mind to make
    a line through</span>
    <br>
    Line height set to 50 pixels ...
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore ipsam
    similique, praesentium ab facere consectetur, nulla deleniti iusto quod
    a, quos ea sapiente earum temporibus et voluptatum incidunt, iste molestiae!
  </p>
  <p class="sent2">
    letter spacing at 2px makes for this amount of space for letters.
    <br> note: I've got MARGINS making the open space both above and below
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore ipsam
    similique, praesentium ab facere consectetur, nulla deleniti iusto quod
  </p>
  <p class="sent3">
    word spacing set to 33px here
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore ipsam
    similique, praesentium ab facere consectetur, nulla deleniti iusto quod
    a, quos ea sapiente earum temporibus et voluptatum incidunt, iste molestiae!
  </p>
  <p class="sent4">
    text transform to uppercase, can also make it all lowercase
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore ipsam
    similique, praesentium ab facere consectetur, nulla deleniti iusto quod
    a, quos ea sapiente earum temporibus et voluptatum incidunt, iste molestiae!
  </p>
</div>

<div class="banner2">
  <p id="banner2_preamble">This text area uses an indent for the div containing the lines, and
  a minimum height to make sure the words don't spill over to other elements
  upon re-sizing</p>
<p id="s0">
Melanie fell silent while the force of Byk’s voice still buzzed in the air.
She heaved a sigh.</P>
<p id="s1">
  “Let them suffer. Do not seek to make their burden your own.”
</p>
<p id="s2">
“How can I live with making a cure to such a widespread problem, and then
  <span id="s2_2">withholding it</span> from them?
</p>
<p id="s3">
These are people just like me. No, they’re people
much worse off than I ever was, who have no hope of living a
productive life without some kind of serious help like this.”
</p>
<p id="s4">“If humans surgically remove their need for companionship, gutting
  out their emotional vulnerabilities,
</p>
<p id="s6">
  “Don’t come at me with this garbage when you know damn well how badly-”
</p>
<p id="s7">“How badly Martens serve as companions?
</p>
</div>

<div class="caution_line_collection">
  <div class="greying_buffer">
    <div class="mouse_over_test1">
      <p onmouseover="alert('all the text is the trigger')">
      Touch the text line to activate alert box
      </p>
    </div>

    <div class="mouse_over_test2">
      <p>
      Touch
        <span style="color:red;"
        onmouseover="alert('only this word is the trigger')">
          here
        </span>
      to activate alert box
      </p>
    </div>

    <div class="mouse_over_test3"
    onmouseover="alert('whole element triggers, even border')">
      <p>
      Touch <b>anywhere</b> in this element to activate an alert box
      </p>
    </div>
  </div>
</div>

<!-- on an element like <p> or <body> or <div>
style="background-image:url('image1.png')"-->

<!-- Quest: try to embed ruby into an alert message-->

<footer>
</footer>
</body>
</html>
