<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Practice page 2</title>
  <link rel="stylesheet" type="text/css" href="../css/ren2.css" media="screen" />
  <script src="../js/pract2.js"></script>
</head>

<body class="overall_page_body">
  <div class="title_banner">
    <h1> Welcome to JK Summerlin's JS portfolio :)</h1>
    <h4> My favorite color is wine red; I love wine and cheese! </h4>
  </div>

<br>
  <header class="nav_link_header">
    <a href="landing.html.erb"> To landing </a> |
    <a href="clickable_pics.html.erb"> To clickable pics </a> |
    <a href="mwo.html.erb"> To MWO example</a> |
    <a href="ren1.html.erb">To PRACTICE</a> |
    <a href="ren2.html.erb">To V2 practice</a> |
  </header>
<br>

  <div class="tool_navbar2">
    <h4>Web Dev Tool-Belt </h4>
      <div class="tool_belt_set">
        <a class="tool_belt_link" href="https://htmlcheatsheet.com/css/"
        target="_blank">
          CSS cheat sheet</a> |
        <a class="tool_belt_link" href="https://coolors.co/app" target="_blank">
          Color generator</a> |
        <a class="tool_belt_link"
        href="https://www.w3schools.com/js/default.asp" target="_blank">
        W3Schools ref</a> |
        <a class="tool_belt_link" href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/"
        target="_blank">Flexbox hints</a> |
        <a class="tool_belt_link" href="http://flexbox.malven.co/"
        target="_blank">Flexbox cheat sheet</a>
      </div>
  </div>
<hr>

<h3 class="plain_header">
  An appealing button I made for my anki decks,
<br> (I might hook some JS to it L8R)</h3>
<div class="aud_bar_container">
  <div class="aud_bar_outer">
    <div class="aud_bar_inner">
      <div class="aud_button_core"
      onclick="alert('pretty appealing to click, huh?')">template</div>
    </div>
  </div>
</div>

  <h3 class="plain_header">
    Border outlines before
    and after manipulated in CSS for an art-deco effect</h3>
<div class="inception_box">
  <div class="outer_inception_nest"><div class="innermost_inception_nest">
    <img src="../../assets/images/sample1/hypercube.png" id="hypercube"
  alt="a picture of a hypercube in geometry"> </img>
  </div></div>
</div>

<h3 class="plain_header">
  Let's make the arrow hit its target <br>
  <span id="shoot"> Shoot! </span> </h3>
<div class="archery_range">
  <img src="../../assets/images/sample1/arrow1.png"
  id="archery_arrow"
  alt="arrow">
  <img src="../../assets/images/sample1/apple1.png"
  id="archery_apple"
  alt="apple">
</div>

<!-- black text on hover white spoiler type  -->

<h3 class="plain_header">
  Here's a spoilder show/hide switch
</h3>
  <div class="spoiler_practice">
    <p id="spoiler_content"> &nbsp; &nbsp; From html --> &nbsp
      Be careful with flexbox. Aligning and clearing are
      odd. For example, I needed to change flex direction to column to get
      the button to appear under the spoiler instead of to the side, which is
      the default row alignment.</p>
    <button type="button" id="spoil_button" name="spoiler_reveal_button"
    onclick="reveal_spoiler()">Show Spoiler</button>
  </div>

  <h3 class="plain_header">
    These images will move and rotate when you hover your mouse over them
  </h3>
  <div class="z_axis_set">
    <img src="../../assets/images/sample1/fluff1.jpg" class="z1" alt="">
    <img src="../../assets/images/sample1/boulder_1.jpg" class="z2" alt="">
    <img src="../../assets/images/sample1/buttermilk_1.jpg" class="z3" alt="">
  </div>

<div class="tutorial_opaque001">
  <div class="banner001">
    <h1>Title banner placeholder</h1>
  </div>
  <div class="opaque001">
    opaque/transparent navbar placeholder
  </div>
</div>

  <div class="imgs_set">
    <div class="big_img">
      <h1 class="opaque2">I'm using opacity <br> to make this readable</h1>
    </div>
    <div class="small_img">
      <h1>small kan image <br>
      this is actually a centered, no repeat background image <br>
      as opposed to an image, proper.
      </h1>
    </div>
  </div>

  <h3 class="plain_header">
    These are just some gradient re-creations of a handful of flags
  </h3>

  <div class="gradients">
    <div class="gradient1"></div>
    <div class="gradient2"></div>
    <div class="gradient3"></div>
    <div class="gradient4"></div>
    <div class="gradient5">cleared left</div>
    <div class="gradient6">placeholder without any css positioning
    will still abide the left-clearing quality</div>
  </div>

  <h3 class="plain_header">
   flex box practice, jokingly making "spear" the longest weapon
  </h3>

  <div class="weapon_list">
    <div class="axe">axe</div>
    <div class="mace">mace</div>
    <div class="spear">spear</div>
    <div class="sword">sword</div>
    <div class="dagger">dagger</div>
  </div>

  <div class="compass">
    <div class="west">[W] flex box</div>
    <div class="north">[N] forces everything</div>
    <div class="south">[S] into rows</div>
    <div class="east">[E] for structure</div>
  </div>

<hr>
  <div class="wrap1">
    <div class="flex_nest1">
    <p>flex wrap property practice</p>
    </div>
    <div class="flex_nest2">
      <p>try expanding the page</p>
    </div>
    <div class="flex_nest3">
      <p>to see how the boxes react</p>
    </div>
  </div>

<div class="flex2">
    <div class="flex_nest21">
      <!-- spans used in columns in CSS to get the displayed structure -->
      <span>space between</span>
      <span>functions</span>
      <span>normally</span>
    </div>
    <div class="flex_nest22">
      <span>also changed the</span>
      <span>flex direction</span>
      <span>to column here</span>
    </div>
    <div class="flex_nest23">
      <span>11</span>
      <span>longest item makes width</span>
      <span>22</span>
    </div>
  </div>

  <div class="spacing_lists">
    <div class="ex_list0">
      <p class="">this</p>
      <p class="">is with</p>
      <p class="">space</p>
      <p class="">around</p>
      <p class="">boxes</p>
    </div>

    <button type="button" name="space_explain_button"
    onclick="alert(tell_about_spaces())"
    >explain spacing</button>
    <div class="ex_list1">
      <p class="">this</p>
      <p class="">is with</p>
      <p class="">space</p>
      <p class="">between</p>
      <p class="">boxes</p>
    </div>

    <div class="ex_list2">
      <p class="">this</p>
      <p class="">is with</p>
      <p class="">space</p>
      <p class="">evenly</p>
      <p class="">boxes</p>
    </div>
  </div>

  <h3 class="plain_header">
    This is another resource box, since my toolbelt at the
    top was getting cluttered
    (ITERARE TO NEW WEB PAGE L8R)
  </h3>

  <div class="links1">
    <a href="https://www.youtube.com/watch?v=m5csNO3oMrQ&t=0m22s"
      target="blank">clown show</a>
    <a href="https://www.pexels.com/"
    target="_blank"> Stock images </a>
    <a href="https://gfycat.com/gifs/search/nier" target="_blank">
      gif resource</a>
    <a href="https://www.w3schools.com/cssref/pr_class_cursor.asp"
    target="_blank"> Cursor properties </a>
    <a href="https://fonts.google.com" target="_blank"> Google's fonts</a>
  </div>
</body>
</html>
