<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Clickable pictures</title>
  <link rel="stylesheet" type="text/css" href="ren1.css" media="screen" />
</head>

<h1> Landing test title 1 </h1>
    <header class="nav_link_header">
      <a href="landing.html"> To landing </a> |
      <a href="clickable_pics.html.erb"> To clickable pics </a> |
      <a href="mwo.html.erb"> To MWO example</a> |
      <a href="ren1.html.erb">To PRACTICE</a> |
    </header>
<p> placeholder for media </p>

<!-- good tables have a header and title caption-->
<table>
  <thead>
    <caption>This is the caption</caption>
    <tr>
      <th>header1</th>
      <th>header2</th>
      <th>header3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>data1</td>
      <td colspan="2">taking up 2 columns here</td>
    </tr>
    <tr>
      <td>bravo1</td>
      <td>bravo2</td>
      <td>bravo3</td>
    </tr>
    <tr>
      <td>charlie1</td>
      <td>charlie2</td>
      <td>charlie3</td>
    </tr>
  </tbody>

</table>

<!-- -->
