<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>JK Summerlin MWO Acronyms</title>
  <link rel="stylesheet" type="text/css" href="ren1.css" media="screen" />
</head>

<body class="mwo_body">
  <h1> Placeholder title </h1>
  <header class="body_header">
    <!-- demo of article, section, headers, and footers-->
    <h1> Mechwarrior Common Acronyms </h1>
  </header>

<main>
    <header class="nav_link_header">
      <a href="landing.html"> To landing </a> |
      <a href="clickable_pics.html.erb"> To clickable pics </a> |
      <a href="mwo.html.erb"> To MWO example</a> |
      <a href="ren1.html.erb">To PRACTICE</a> |
    </header>
  <!-- displayed in-line as same-page links-->
  <p> Jump to:
    <a href="#ta_practice">text area</a> |
    <a href="">placeholder</a> |
    <a href="">placeholder</a>
  </p>
    <article>
      <section class="acro_quick_ref">
        <dl>
          <dt><a class="mwo_link_button" href="#ECM">ECM</a></dt>
            <dd class="spelled_acronym">
              <span class="underlined">E</span>lectronic
              <span class="underlined">C</span>ounter
              <span class="underlined">M</span>measures
            </dd>
          <dt><a class="mwo_link_button" href="#LRM">LRM</a></dt>
            <dd class="spelled_acronym">
              <span class="underlined">L</span>ong
              <span class="underlined">R</span>ange
              <span class="underlined">M</span>issiles
            </dd>
          <dt><a class="mwo_link_button" href="#AMS">AMS</a></dt>
            <dd class="spelled_acronym">
              <span class="underlined">A</span>nti-
              <span class="underlined">M</span>issile
              <span class="underlined">S</span>ystem
            </dd>
        </dl>
      </section>

      <section>
        <header id="ECM" class="mwo_article_header">
          <h2>(ECM) : Electonic Counter-Measures </h2>
        </header>
          <p class="mwo_content">
          Colloquially known as "the magic Jesus box", this hides mechs from <br>
          radar detection. The Electronic Counter-Measure system slows enemy<br>
          target acquisition, making it harder to get a lock. Laser tagging <br>
          and relying on your good ol' eye-holes helps to counteract this. <br>
          Even a mech running ECM will show up on heat-vision/night vision. <br>
          In theory, a cloaking device would be a "VCM", visual counter-measure.
          </p>
      </section>

      <section>
        <header id="LRM" class="mwo_article_header">
          <h2>(LRM) : Long-Range Missiles</h2>
        </header>
          <p class="mwo_content">
          Long-Range missiles use targeting, often with tagging system <br>
          and have the advantage of a high arc, going above cover and other <br>
          terrain obstacles. While called "long-range" they can be fired from <br>
          200 meters effectively, reducing flight time and increasing accuracy. <br>
          Note that LRMs deal non-pinpoint damage, spread across a mech.<br>
          Thus, they are "support" rather than straight up killers.
          </p>
      </section>

      <section>
        <header id="AMS" class="mwo_article_header">
          <h2>(AMS) : Anti-missile System</h2>
        </header>
          <p class="mwo_content">
          The anti-missile system is either ballistic or laser <br>
          while lasers don't suffer from ammo capacity limits <br>
          they're liable to make your mech overheat. A skilled <br>
          pilot might even see the lightshow and hammer lots of <br>
          missiles to force an overheat if you don't shut off AMS.
          </p>
      </section>

      <section>
      <header> Lists </header>
        <h3>Unordered lists</h3>
          <ul>
            <li> </li>
            <li> </li>
            <li> </li>
          </ul>

        <h3>Unordered lists</h3>
          <ol>
            <li></li>
            <li></li>
            <li></li>
          </ol>

        <h3>Different markers for lists</h3>
          <ol type="A">
            <li>Alphabetical</li>
            <li>listing</li>
            <li>with type="A"</li>
            <li>or lowercase "a"</li>
          </ol>
        <br>
          <ol type="I">
            <li>Roman numeral</li>
            <li>listing with type="I"</li>
            <li>can make it lowercase</li>
            <li>with type="i"</li>
          </ol>

        <h3>Description list</h3>
        <dl>
          <dt>Term</dt>
          <dd>description</dd>
        </dl>
      </section>

    </article>
  </main>

  <aside style="color:#c1c1c1; background-color:black; padding:10px 0;">
  <!-- adverts could go in an aside tag-->
  Advert would go here
  </aside>

<!-- image and vid practice-->
<div>
  <!--
  <iframe width="560" height="315"
  src="https://www.youtube.com/embed/nn7LeY3S72E" frameborder="0"
  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen></iframe> -->

  <img class="" src="../assets/images/sample1/forest_1.jpg"
  alt="a forest picture" height="200px"></img>
</div>

<footer>
</footer>

<!-- playground after footer-->
<!-- link testing-->

<section id="playground">
  <p> This functions as a <a href="ren1.html.erb"><big> clickable</big><a>
  word link to the practice page</p>

  <pre>testing  for the   preservation
  of whitespace
  and
    of
      various breaks in
                        text</pre>
</section>
  <!-- input and text area practice -->
<div id="ta_practice">
  <form action="" method="">
    <label for="myinput1">Input Label:</label>
    <input type="text" name="myinput1" id="myinput1">
    <br>
    <input type="password" placeholder="hidden pass will be hidden">
    <br>
    <input type="email" value="potato@starch.com">
    <br>
    <p>Example comment submission forum</p>
      <textarea name="" id="" cols="40" rows="20">
      Default text to occupt the text area
      </textarea>

  </form>
</div>

</body>
</html>
