<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ren 1</title>
  <link rel="stylesheet" type="text/css" href="ren1.css" media="screen" />
</head>

<body class="overall_page_body">
  <div class="title_banner">
    <h1> Welcome to JK Summerlin's JS portfolio :)</h1>
    <h4> My favorite color is wine red; I love wine and cheese! </h4>
  </div>

<br>
  <header class="nav_link_header">
    <a href="landing.html"> To landing </a> |
    <a href="clickable_pics.html.erb"> To clickable pics </a> |
    <a href="mwo.html.erb"> To MWO example</a> |
    <a href="ren1.html.erb">To PRACTICE</a> |
  </header>
<br>

<div class="caution_line_collection">
  <div class="greying_buffer">
    <div class="ul_practice_element">
      <h2> Here's a placeholder for an unordered list</h2>
        <ul>
          <li> one </li>
          <li> two </li>
          <li> three </li>
          <li> four </li>
        </ul>
    </div>
  </div>
</div>
<br>

<div class="text_try">
  <p>
    Feelin' <sup>high</sup> or are ya <sub> low</sub>?
  <p>
    <br>
      <hr>
    <br>
    <h5 class="quest"> Q: How do I refactor this HTML wave with embedded ruby?</h5>
  <p>
    <sub>Ride</sub> the <sup>wave</sup> all <sub>the</sub> way <sup> to </sup>
    <sub>another</sub> beautiful <sup>day</sup> today ~
    <sub>~</sub>~<sup>~</sup>~<sub>~</sub>~<sup>~</sup>~<sub>~</sub>~<sup>~</sup>
    ~<sub>~</sub>~
  </p>
    <br>
      <hr>
    <br>
  <p>
    <big>Big</big> and <small>small</small> welcome one and all!
  </p>
</div>

<br>

  <div class="caution_line_collection">
    <div class="greying_buffer">
      <div class="mouse_over_test1">
        <p onmouseover="alert('all the text is the trigger')">
        Touch the text line to activate alert box
        </p>
      </div>

      <div class="mouse_over_test2">
        <p>
        Touch
          <span style="color:red;"
          onmouseover="alert('only this word is the trigger')">
            here
          </span>
        to activate alert box
        </p>
      </div>

      <div class="mouse_over_test3"
      onmouseover="alert('whole element triggers, even border')">
        <p>
        Touch <b>anywhere</b> in this element to activate an alert box
        </p>
      </div>
    </div>
  </div>

<hr>
<!-- -->


<!-- buttons and clickable images -->


</body>

<!-- on an element like <p> or <body> or <div>
style="background-image:url('image1.png')"-->

<!-- Quest: try to embed ruby into an alert message-->

</html>
