
.overall_page_body {
  background-color: #9f6;
}

.title_banner {
  text-align: center;
  color: gold;
  background-color: #725;
  border-bottom: 15px solid black;
  border-left: 15px solid black;
  padding: 10px 0;
  margin-bottom: 10px;
}

.nav_link_header {
  color: white;
  background-color: #ccc;
  padding: 5px 0;
}

.quest {
  /* placeholder for questions in html page*/
}

.caution_line_collection {
  border: 15px dashed yellow;
  background-color: black;
  display: inline-block;
  margin: 10px 0px 10px 10px;
}

.greying_buffer {
  padding: 10px 10px 10px 10px;
  background-color: #666;
}

.ul_practice_element {
  border: 3px solid black;
  background-color: aliceblue;
  display: inline-block;
  margin: 5px;
  padding: 0px 15px 0 15px;
}

.text_try {
  border-style: inset;
  border-width: 5px 15px;
  background-color:#dadada;
  display: inline-block;
  padding: 0px 10px;
  /* 0 padding top/bot and 10 padding L/R */
}

.mouse_over_test1 {
  color: red;
  border: 5px solid red;
  background-color: #222;
  display: inline-block;
  padding: 10px 0px;
}

.mouse_over_test2 {
  color: black;
  border: 5px solid blue;
  background-color: aliceblue;
  display: inline-block;
  padding: 10px 0px;
}

.mouse_over_test3 {
  color: white;
  border: 5px solid orange;
  background-color: #71a;
  display: inline-block;
  padding: 10px 0px;
}

.button_try {
  /* placeholder for button collection div*/
}

.margin_image_demo {
  color:white;
  background-color: #148814;
  display: inline-block;
  margin: 0px 0px 30px 30px;
  /*padding: 0px 0px 30px 30px;*/
}

.padding_image_demo {
  color:white;
  background-color: #113;
  display: inline-block;
  padding: 0px 0px 30px 30px;
}

.alert_div {
    color:white;
    background-color: #148814;
    display: block;
    padding: 30px;
    width:50%;
  }

/* mechwarrior mwo acronyms articles and divisions*/
.mwo_body {
  background-color: #9bc;
}

.body_header {
  color: white;
  background-color: black;
  padding-left: 10px;
}

.acro_quick_ref {
  background-color:#c1c1c1;
  width:80%;
  padding-bottom: 14px;
}

.mwo_link_button {
  background-color: black;
  color: white;
  text-align: center;
  display: inline-block;
  margin-bottom: 5px;
}
  .mwo_link_button:visited {
    background-color: purple;
  }
  .mwo_link_button:hover {
    background-color: yellow;
  }

.spelled_acronym{
  font-size: 20px;
  width:50%;
  border: 3px dotted blue;
}

.underlined {
  color:#279;
  text-decoration: underline;
  font-size:30px;
}

.mwo_article_header {
  color: #ff5;
  background-color: #376;
  border-top: 5px dashed gold;
  border-bottom: 5px dashed gold;
  border-right: 5px dashed gold;
  display:block;
  width:600px;
  padding: 3px;
}

.mwo_content {
  padding-left:20px;
  background-color: #c1c1c1;
  padding: 10px 20px;
  width:500px;
}

/* video gif and mp4 file fun, auto adjusts height of MP4 files*/

/*.vid_content {
  width:300px; height:auto;
}
*/

/* multi-open */
 .gallery {
   margin: auto;
   width: 80%;
   display: block;
 }

 .gal_item {
   margin: auto;
   max-height: 300px;
   max-width: 300px;
 }

/* padding: 0px 70px; */
